@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 1.2em;
}

.allergy {
  font-weight: bold;
}

#burgers {
  background: #000000;
  color: #ffffff;
}

#orderInformation {
  
}
