@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 1.2em;
}

button {
  margin: 2%;
}

button:hover {
  background: #555555;
  cursor: pointer;
}

section {
  margin: 0 2%;
}

table {
  width: 100%;
}

.allergy {
  font-weight: bold;
}

#burgers {
  background: #000000;
  color: #ffffff;
  border: 2px dashed #ffffff;
  padding: 2%;
}

#orderInformation {
  border: 2px dashed #000000;
  padding: 2%;
}

